body {
}
label {
  color: white;
}

h1 {
  position: relative;
  color: white;
}
span{
  color: gray
}

.bgPic {
  /* background-color: lightpink; */
  background-image: url('https://images.unsplash.com/photo-1557853197-aefb550b6fdc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60');
  background-size: cover;
  background-repeat: top center;
}

/* ::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url('https://images.unsplash.com/photo-1535551951406-a19828b0a76b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2246&q=80');
  background-size: cover;
  background-repeat: top center;
  opacity: 0.25;

} */
